<div id="header-menu">
  <div class="row">
    <div class="col-sm-3 text-center linked">
      {{#link-to 'examples'}}
        My Work.
      {{/link-to}}
    </div>
    <div id="my-name" class="col-sm-6 text-center">
      {{#link-to 'index'}}
        <div id="first" class="name">D</div>
        <div id="last" class="name">M</div>
      {{/link-to}}
    </div>
    <div class="col-sm-3 text-center linked">
      {{#link-to 'contact'}}
        Get in touch.
      {{/link-to}}
    </div>
  </div>
</div>
<div class="body">
  {{outlet}}
</div>
<div id="footer-menu">
    <div class="col-sm-3 text-center darker-text">
      Made in America.
    </div>
    <div class="col-sm-6 text-center">
      <a href="mailto:davemullinsjr@gmail.com">DaveMullinsJr@gmail.com</a>    
    </div>
    <div class="col-sm-3 text-center darker-text">
      Built with Ember.
    </div>
</div>
