<div class="home"></div>
<div class="container">
    {{#link-to 'index'}}
      Dave Mullins
    {{/link-to}}
      {{#link-to 'about'}}
        About
      {{/link-to}}
      {{#link-to 'contact'}}
        Contact
      {{/link-to}}

  <div class="body">
    {{outlet}}
  </div>
</div>
