<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>
    David Mullins
    <address>
    19 Sean Dr. <br />
    Mansfield, MA 02048
    </address>
    <a href="tel:774.266.3297">(774) 266-3297</a><br>
    <a href="mailto:davemullinsjr@gmail.com">DaveMullinsJr@gmail.com</a>
  </p>
</div>
{{#link-to 'about' class="button"}}
    About Me
{{/link-to}}

{{outlet}}
