<div id="contact-me">
    <div class="row">
        <div class="col-sm-6">
            <h2>Say Hello.</h2>
            <div class="row info">
                Cell:  <a href="tel:774.266.3297">(774) 266-3297</a><br>
            </div>
            <div class="row info">
                Email: <a href="mailto:davemullinsjr@gmail.com">DaveMullinsJr@gmail.com</a>
            </div>
            <div class="row info">
                GitHub: <a href="//www.github.com/dmjr">github.com/dmjr</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div id="profile-pic">
            </div>
        </div>
    </div>
  </div>
{{outlet}}
