<div id="app-index">
    <div id="intro-body" class="row">
        <div id="my-name" class="text-center">
            <div id="first" class="name">David</div>
            <div id="last" class="name">Mullins</div>
        </div>
        <div id="about-me" class="row text-center">
            <div class="row">
                Junior Developer and Entrepreneur -
            </div>
            <div class="row">
                making the world better through technology.
            </div>
            <div class="row">
                Let's resolve your problem.
            </div>
        </div>
    </div>
</div>

{{outlet}}
