<div id="app-index">
    <div id="intro-body" class="row">
        <div id="my-name" class="text-center">
            <div id="first" class="name">David</div>
            <div id="last" class="name">Mullins</div>
        </div>
        <div id="about-me" class="row text-center">
            <div class="row">
                <div class="inline">Junior</div> <div class="accent inline">Developer</div> and <div class="accent inline">Entrepreneur</div> <div class="inline">-</div> 
            </div>
            <div class="row">
                making the world better through technology.
            </div>
            <div class="row">
                <div class="inline">Let's build something</div><div class="accent inline">meaningful</div>.
            </div>
        </div>
    </div>
</div>

{{outlet}}
